# --- System / OS ---
.DS_Store
Thumbs.db

# --- R / Data Science ---
.Rproj.user/
.Rhistory
.RData
.httr-oauth
**/*.log

# --- Hugo / Web ---
public/
.hugo_build.lock
resources/_gen/
static/css/test.css
static/css/experimental.css

# --- Obsidian / Notes ---
Templates/
.obsidian/
/.secrets
