# OS Excludes
.DS_Store
Thumbs.db

# R Studio Excludes
.Rproj.user/
.RData
.Rprofile
.Rhistory
.candlegraph_hugo_Rproj
candlegraph_hugo.Rproj
R/build.R
R/build2.R
.httr-oauth

# Hugo Excludes
public/
.hugo_build.lock
resources/_gen/

# Local Development Excludes
static/css/test.css
static/css/experimental.css

# Obsidian Excludes
Templates/
.obsidian/
