<article class="archive-item">
  <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a><br>

  <div class="archive-item-meta">
    {{ partial "post_meta.html" . }}
  </div>

  <div class="archive-item-summary">
    {{ .Summary }}
    <a href="{{ .Permalink }}" class="read-more">Read Post »</a>
  </div>

  {{ if .Params.tags }}
  <div class="blog-tags">
    {{ range .Params.tags }}
    <a href="{{ "tags" | absLangURL }}/{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

</article>
