<div class="candle-specs-strip">
    <div class="spec-item">
        <span class="spec-label">MSRP</span>
        <span class="spec-data">${{ .Get "price" }}</span>
    </div>
    <div class="spec-item">
        <span class="spec-label">Burn Time</span>
        <span class="spec-data">{{ .Get "burn" }}h</span>
    </div>
    <div class="spec-item">
        <span class="spec-label">
            Efficiency 
            <a href="/methodology/#efficiency" class="methodology-link"><i class="fa fa-info-circle"></i></a>
        </span>
        <span class="spec-data">{{ .Get "efficiency" }} min/$</span>
    </div>
    <div class="spec-item">
        <span class="spec-label">Cost/Hour</span>
        <span class="spec-data">${{ .Get "cost_hour" }}</span>
    </div>
</div>